<!DOCTYPE html>
<html>
<head>
  <title>Send Log</title>
</head>
<body>
  <h1>Send Log Data</h1>
  <form method="post" action="/log">
    <label for="deviceId">Device ID:</label><br>
    <input type="text" id="deviceId" name="deviceId"><br>
    <label for="logData">Log Data:</label><br>
    <textarea id="logData" name="logData"></textarea><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
